numpy<2.0.0
setproctitle
opencv-python
easyocr
notebook
ipykernel
degirum
degirum_tools
degirum_cli
picamera2
pillow<11
matplotlib
Flask
Flask-SocketIO
websockets
python-dotenv
pandas<2.0.0
requests
eventlet
gunicorn